.home_banner {
  background-color: #f0bbb5 !important;
  grid-column: 1 / span 12;
  transition: transform .2s !important;
}
.home_banner img:hover {
  transform: scale(1.03) !important;
}

.home_banner a{
text-decoration: 0.09rem underline !important;
}
.section_2 {
  background-color: #d8948c !important;
  grid-column: 1 / span 12;
}


.btnn {
  border-radius: 20px;
  padding: 5px 25px;
  color: #fff;
  background-color: #356024;
  border: #fff 1px solid;
  margin-top: 6rem;
}
.icons {
  width: 20% !important;
  margin: 3rem auto !important;
  font-size: 1.7rem !important;
}

@media (min-width: 400px) AND (max-width: 550px){
  .home_banner img {
    width: 415px !important;
    height: 370px !important;
    margin: auto !important;
    padding: 0.7rem !important;
  }

}
@media (max-width: 400px) {
  .home_banner img {
    width: 380px !important;
    height: 370px !important;
    margin: auto !important;
    padding: 0.5rem !important;
  }
  .icons {
    width: 45% !important;
    margin: 3rem auto !important;
    font-size: 1.7rem !important;
  }
}

@media (min-width: 600px) AND (max-width: 900px) {
  .home_banner img {
   width: 395px !important;
    height: 370px !important;
    margin: auto !important;
    padding: 0.7rem !important;
  }
}

@media (min-width: 1200px) AND (max-width: 1400px){
  .home_banner img {
    width: 435px !important;
    margin: auto !important;
    padding: 0.7rem !important;
  }
}
