.home_banner {
  background-color: #f0bbb5 !important;
  grid-column: 1 / span 12;
  transition: transform .2s !important;
}
.home_banner img:hover {
  transform: scale(1.15) !important;
}

.home_banner a{
text-decoration: 0.09rem underline !important;
}
.section_2 {
  background-color: #d8948c !important;
  grid-column: 1 / span 12;
}


.btnn {
  border-radius: 20px;
  padding: 5px 25px;
  color: #fff;
  background-color: #356024;
  border: #fff 1px solid;
  margin-top: 6rem;
}
.icons {
  width: 20% !important;
  margin: 3rem auto !important;
  font-size: 1.7rem !important;
}

@media (max-width: 374px) {
  .home_banner img {
    width: 360px !important;
    height: 285px !important;
    padding: 0.6rem !important;

  }
  .icons {
    width: 40% !important;
  }
  .home_banner img:hover {
    transform: scale(1.03) !important;
  }
}

@media (min-width: 375px) AND (max-width: 380px){
  .home_banner img {
    width: 370px !important;
    height: 310px !important;
    padding: 0.4rem !important;
  }
  .icons {
    width: 40% !important;
  }
  .home_banner img:hover {
    transform: scale(1.03) !important;
  }

}
@media (min-width: 381px) AND (max-width: 390px){
  .home_banner img {
    width: 386px !important;
    height: 340px !important;
    padding: 0.4rem !important;
  }
  .icons {
    width: 40% !important;
  }
  .home_banner img:hover {
    transform: scale(1.03) !important;
  }

}
@media (min-width: 391px) AND (max-width: 599px){
  .home_banner img {
    width: 415px !important;
    height: 320px !important;
    margin: auto !important;
    padding: 0.4rem !important;
  }
  .icons {
    width: 40% !important;
  }
  .home_banner img:hover {
    transform: scale(1.03) !important;
  }

}

/* tablet */
@media (min-width: 600px) AND (max-width: 850px) {
  .home_banner img {
   width: 345px !important;
  }
  .home_banner img:hover {
    transform: scale(1.05) !important;
  }
  
}
@media (min-width: 851px) AND (max-width: 1000px) {
  .home_banner img {
   width: 403px !important;
  }
  .home_banner img:hover {
    transform: scale(1.04) !important;
  }
}
@media (min-width: 1001px) AND (max-width: 1100px) {
  .home_banner img {
   width: 403px !important;
  }
}
@media (min-width: 1101px) AND (max-width: 1199px) {
  .home_banner img {
   width: 440px !important;
  }
}

@media (min-width: 1200px) AND (max-width: 1300px){
  .home_banner img {
    width: 490px !important;
  }
}
@media (min-width: 1301px)  AND (max-width: 1400px){
  .home_banner img {
    width: 530px !important;
  }
}

@media (min-width: 1501px) {
  .home_banner img {
    width: 575px !important;
  }
}
