@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Abhaya Libre', serif !important;
}

/* navigation */
Link{
  color: #346025 !important;
}