.home_banner {
  background-color: #f0bbb5 !important;
  height: 90vh;
}
.section_2 {
  background-color: #d8948c !important;
  height: 50vh;
  text-align: center !important;
}
.section_2 p{
  width: 50% !important;
}
.section_3 {
  background: linear-gradient(#edb6b0, #db958d);
  height: 60vh;
  text-align: center !important;
}
.section_3_list h4 {
  color: #2e7d0e !important;
}
.section_3_list {
  color: #4d6535c5;
  font-size: 1.2rem;
  font-weight: lighter !important;
  margin-top: 3rem !important;
}
.btnn {
  border-radius: 20px;
  padding: 5px 25px;
  color: #fff;
  background-color: #356024;
  border: #fff 1px solid;
  margin-top: 6rem;
}

@media (max-width: 400px) {
  .home_banner {
    background-color: #f0bbb5 !important;
    height: 135vh !important;
  }
  .home_banner img {
    max-width: 390px !important;
    height: 380px !important;
    margin: auto !important;
    padding: 0.5rem !important;

  }
  .section_2 {
    height: 60vh !important;
  }
  .section_2 p{
    width: 100% !important;
    padding: 1rem !important;
  }
  .btnn {
    margin-top: 2rem !important;
  }
  .section_3 img{
    width: 380px;
  }
}
@media (min-width: 401px) {
  .home_banner {
    background-color: #f0bbb5 !important;
    height: 130vh !important;
  }
  .home_banner img {
    max-width: 420px !important;
    height: 420px !important;
    margin: auto !important;
    padding: 0.5rem !important;

  }
  
}

@media (min-width: 700px) AND (max-width: 1300px) {
  .home_banner {
    background-color: #f0bbb5 !important;
    height: 65vh;
  }
  .home_banner img {
    width: 380px !important;
    height: 380px !important;
    margin: 0 !important;
  }
  .section_2 {
    height: 47vh !important;
  }
  .section_2 p{
    width: 100% !important;
    padding: 1rem !important;
    font-size: 1.7rem !important;
  }
  .btnn {
    margin-top: 2rem !important;
  }
  .section_3 img{
    width: 780px;
  } 
  .section_3 {
    height: 43.5vh;
  }
}