.form_container{
   width: 50vw ;
   margin: auto;
   
}
.form_container p{
   width: 100% ;
   margin: auto;
   
}
.form_container div{
    background-color: #cc8b84;
    color: #fff;
   
}
.form_container Button{
    background-color: #efb9b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    margin: 1rem 0;
}
.form_container textarea{
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    height: 10rem !important;
}
.form_container input::placeholder{
    font-size: 13px;
}
.form_container textarea::placeholder{
    font-size: 14px;
}

@media (max-width: 500px) {
    .form_container{
        width: 100vw ;
        margin: auto;
     } 
}
@media (min-width: 600px) AND (max-width: 900px) {
    .form_container{
        width: 80vw ;
        margin: auto;
     } 
  }